<h1 class="text-center my-4"><%= t('.title', resource: resource_name.to_s.humanize) %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <!-- Email Field -->
  <div class="form-group mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <!-- Password Field -->
  <div class="form-group mb-3">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
  </div>

  <!-- Password Confirmation Field -->
  <div class="form-group mb-3">
    <%= f.label :password_confirmation, class: 'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
  </div>

  <!-- Current Password Field -->
  <div class="form-group mb-3">
    <%= f.label :current_password, class: 'form-label' %>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
  </div>

  <!-- Submit Button -->
  <div class="form-group mb-4">
    <%= f.submit t('.update'), class: 'btn btn-primary btn-lg w-100' %>
  </div>
<% end %>

<!-- Destroy Account Link -->
<p class="text-center">
  <%= link_to "Destroy Account", registration_path(@current_user), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }, class: 'btn btn-danger btn-lg w-100 mt-3' %>
</p>

<!-- Back Link -->
<div class="text-center">
  <%= link_to t('.back'), :back, class: 'btn btn-secondary' %>
</div>
