<h1>My Properties</h1>

<div class="container mt-4">
  <% if @properties.any? %>
    <div class="row">
      <% @properties.each do |property| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <% if property.images.attached? %>
              <%= image_tag property.image, class: "card-img-top", alt: "Property Image" %>
            <% else %>
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="No Image Available">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= property.name %></h5>
              <p class="card-text"><%= truncate(property.description, length: 100) %></p>
              <p class="card-text"><strong>Location:</strong> <%= property.location %></p>
              <p class="card-text"><strong>Price:</strong> <%= number_to_currency(property.price) %></p>
            </div>
            <div class="card-footer text-center">
              <%= link_to 'View Details', property_path(property), class: 'btn btn-primary btn-sm me-2' %>
              
              
            <%= link_to "delete", property_path(property), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            },class: 'btn btn-danger btn-sm'  %>
          

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= link_to 'Add New Property', new_property_path, class: 'btn btn-success' %>
    </div>
  <% else %>
    <div class="alert alert-info" role="alert">
      <p>You don't have any properties yet.</p>
      <%= link_to 'Add a Property', new_property_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
