<h1>All Properties</h1>

<div class="row">
  <% @properties.each do |property| %>
    <div class="col-md-4 mb-4">
      <!-- Property Card -->
      <div class="card">
        <img src="https://images.unsplash.com/photo-1605146769289-440113cc3d00?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHx8MA%3D%3D<%#= property.image_url %>" class="card-img-top" alt="<%= property.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= property.name %></h5>
          <p class="card-text"><%= property.description %></p>
          <p><strong>Price:</strong> <%= number_to_currency(property.price) %></p>
          <p><strong>Location:</strong> <%= property.location %></p>
          <%= link_to 'Intrested', property_path(property), class: 'btn btn-primary' %>
           <div class="actions">
              <%= link_to 'View Details', property_path(property), class: 'btn btn-primary' %>
           </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
